on init
    #Reactivation Lock
    symlink /dev/block/platform/13500000.dwmmc0/by-name/STEADY /dev/block/steady

    #Google FRP solution
    symlink /dev/block/platform/13500000.dwmmc0/by-name/PERSISTENT /dev/block/persistent

on post-fs-data
    # Permissions for audio
    mkdir /efs/nxp 0770 system audio
    chown system audio /efs/nxp/rdc_cal
    chown system audio /efs/nxp/temp_cal
    chmod 0660 /efs/nxp/rdc_cal
    chmod 0660 /efs/nxp/temp_cal

on boot
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path

    chown system bluetooth /efs/bluetooth
    chown system bluetooth /efs/bluetooth/bt_addr
    chmod 0770 /efs/bluetooth
    chmod 0640 /efs/bluetooth/bt_addr

    #dbmd
    chmod 0660 /dev/dbmdx-1
    chown system audio /dev/dbmdx-1

    #for datarouter
    chown system system /dev/dun
    chown system system /dev/ttyGS0
    chown system system /dev/ttyGS1
    chown system system /dev/ttyGS2
    chown system system /dev/ttyGS3

    # Barometer_sensor
    chown system radio /sys/class/sensors/barometer_sensor/sea_level_pressure
    chown system radio /sys/class/sensors/barometer_sensor/vendor
    chown system radio /sys/class/sensors/barometer_sensor/name
    chown system radio /sys/class/sensors/barometer_sensor/calibration
    chown system radio /sys/class/sensors/barometer_sensor/temperature

    # HRM_sensor
    chown system radio /sys/class/sensors/hrm_sensor/name
    chown system radio /sys/class/sensors/hrm_sensor/vendor
    chown system radio /sys/class/sensors/hrm_sensor/led_current
    chown system radio /sys/class/sensors/hrm_sensor/led_current1
    chown system radio /sys/class/sensors/hrm_sensor/led_current2
    chown system radio /sys/class/sensors/hrm_sensor/led_current3
    chown system radio /sys/class/sensors/hrm_sensor/led_current4
    chown system radio /sys/class/sensors/hrm_sensor/hr_range
    chown system radio /sys/class/sensors/hrm_sensor/hr_range2
    chown system radio /sys/class/sensors/hrm_sensor/look_mode_ir
    chown system radio /sys/class/sensors/hrm_sensor/look_mode_red
    chown system radio /sys/class/sensors/hrm_sensor/eol_test
    chown system radio /sys/class/sensors/hrm_sensor/eol_test_result
    chown system radio /sys/class/sensors/hrm_sensor/eol_test_status
    chown system radio /sys/class/sensors/hrm_sensor/int_pin_check
    chown system radio /sys/class/sensors/hrm_sensor/lib_ver
    chown system radio /sys/class/sensors/hrm_sensor/regulator
    chown system radio /sys/class/sensors/hrm_sensor/part_type
    chown system radio /sys/class/sensors/hrm_sensor/device_id
    chown system radio /sys/class/sensors/hrm_sensor/hrm_flush
    chown system radio /sys/class/sensors/hrm_sensor/threshold
    chown system radio /sys/class/sensors/hrm_sensor/alc_enable
    chown system radio /sys/class/sensors/hrm_sensor/eol_lib_ver
    chown system radio /sys/class/sensors/hrm_sensor/elf_lib_ver
    chown system radio /sys/class/sensors/hrm_sensor/adpd_reg_read
    chown system radio /sys/class/sensors/hrm_sensor/adpd_reg_write
    chown system radio /sys/class/sensors/hrm_sensor/adpd_mode
    chown system radio /sys/class/sensors/hrm_sensor/adpd_configuration
    chown system radio /sys/class/sensors/hrm_sensor/adpd_stat
    chmod 0600 /dev/max_hrm
    chown system system /dev/max_hrm

    # SensorHub
    chown system radio /sys/class/sensors/ssp_sensor/enable
    chown system radio /sys/class/sensors/ssp_sensor/mcu_rev
    chown system radio /sys/class/sensors/ssp_sensor/mcu_name
    chown system radio /sys/class/sensors/ssp_sensor/mcu_test
    chown system radio /sys/class/sensors/ssp_sensor/mcu_reset
    chown system radio /sys/class/sensors/ssp_sensor/mcu_update
    chown system radio /sys/class/sensors/ssp_sensor/mcu_sleep_test
    chown system radio /sys/class/sensors/ssp_sensor/ori_poll_delay

    # Sensorhub IIO
    chown system radio /sys/class/sensors/ssp_sensor/accel_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/game_rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/step_det_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncalib_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncal_mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/light_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/pressure_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/prox_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/sig_motion_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/step_cnt_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncal_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/interrupt_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/tilt_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/pickup_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/ssp_flush
    chown system radio /sys/class/sensors/ssp_sensor/int_gyro_enable
    chown system radio /sys/class/sensors/ssp_sensor/sensor_state
    chmod 0600 /dev/batch_io
    chown system system /dev/batch_io

    # FactoryApp(SensorHub)
    chown root system /efs/FactoryApp/baro_delta
    chown root system /efs/FactoryApp/gyro_cal_data
    chown root system /efs/FactoryApp/cal_data

on fs
    # SVC LED
    chown system system /sys/class/sec/led/led_r
    chown system system /sys/class/sec/led/led_g
    chown system system /sys/class/sec/led/led_b

    chown system system /sys/class/leds/led_r/brightness
    chown system system /sys/class/leds/led_g/brightness
    chown system system /sys/class/leds/led_b/brightness
    chown system system /sys/class/leds/led_r/delay_on
    chown system system /sys/class/leds/led_g/delay_on
    chown system system /sys/class/leds/led_b/delay_on
    chown system system /sys/class/leds/led_r/delay_off
    chown system system /sys/class/leds/led_g/delay_off
    chown system system /sys/class/leds/led_b/delay_off
    chown system system /sys/class/leds/led_r/blink
    chown system system /sys/class/leds/led_g/blink
    chown system system /sys/class/leds/led_b/blink

    chown system system /sys/class/sec/led/led_pattern
    chown system system /sys/class/sec/led/led_blink
    chown system system /sys/class/sec/led/led_br_lev
    chown system system /sys/class/sec/led/led_lowpower

on charger
    wait /dev/block/platform/13500000.dwmmc0/by-name/EFS
    mount ext4 /dev/block/platform/13500000.dwmmc0/by-name/EFS /efs nosuid nodev noatime noauto_da_alloc,discard,journal_checksum,data=ordered,errors=panic


